.first-page {
    height: 100vh;
    width: 100%;
    .first-container {
        width: 100%;
        height: 100%;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        color: #1a2a59;
        text-align: left;
        margin: 0 auto;
        display: flex;
        align-items: center;
        z-index: 10;
        .about-text{
            position: absolute;
            top: 79px;
            right: 175px;
            color: #99dd6e;
            font-size: 13px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.92;
            letter-spacing: normal;
        }
        .inner-content {
            width: 100%;
            height: auto;
            .background-container {
                .bg {
                    width: 100vw;
                    height: 100vh;
                    min-height: 100vh;
                    min-width: 177.77vh;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: none;
                }
            }

            .content-container {
                position: absolute;
                bottom: 77px;
                left: 145px;
                color: #99dd6e;
                h1{
                    font-size: 200.5px;
                    line-height: 1.1;
                    margin-bottom: 117px;
                    font-family: "Montserrat-SemiBold";
                    letter-spacing: -4.5px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    margin-left: -6px;
                }
                .company{
                    font-size: 14px;
                    font-weight: 500;
                    font-family: "Montserrat-Medium";
                }
            }
        }
    }
}
@media screen and (max-height: 1079px) {
    .first-page{
        .first-container{
            .inner-content {
                .content-container{
                    h1{
                       margin-bottom: 42px !important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1600px) and (min-width:1380px) {
    .first-page{
        .first-container{
            .inner-content {
                .content-container{
                    h1{
                        font-size: 180px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1379px) and (min-width:1200px) {
    .first-page{
        .first-container{
            .inner-content {
                .content-container{
                    h1{
                        font-size: 150px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1199px) and (min-width:992px) {
    .first-page{
        .first-container{
            .inner-content {
                .content-container{
                    left: 70px;
                    h1{
                        font-size: 135px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:991px) and (min-width:768px) {
    .first-page{
        .first-container{
            .inner-content {
                .content-container{
                    left: 70px;
                    h1{
                        font-size: 100px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:767px) and (min-width:576px){
    .first-page{
        .about-text{
            display: none !important;
        }
        .first-container{
            .inner-content {
                .content-container{
                    left: 43px;
                    h1{
                        font-size: 80px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:575px) {
    .first-page{
        .about-text{
            display: none !important;
        }
        .first-container{
            .inner-content{
                .background-container {
                    .bg{
                        left: 0 !important;
                    }
                }
            }
            .inner-content {
                .content-container{
                    left: 43px;
                    h1{
                        font-size: 50px;
                    }
                }
            }
        }
    }
    @media screen and (max-height: 900px) {
        .first-page{
            .first-container{
                .inner-content {
                    .content-container{
                        bottom: 20% !important;
                    }
                }
            }
        }
    }
}
@media screen and (max-height: 600px) {
    .first-page{
        .first-container{
            .inner-content{
                .content-container{
                    left: 160px;
                    h1{
                        font-size: 95px;
                    }
                }
            }
        }
    }
}