.fourth-page {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
    overflow-y: hidden;
    .logo{
        position: absolute;
        top: 50px;
        left: 100px;
        h3{
            color: #222222;
            text-transform: uppercase;
            font-size: 21px;
            font-family: 'Roboto-Bold';
        }
    }
}
.fourth-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    h1 {
        font-size: 98.5px;
        font-weight: bold;
        margin-bottom: 40px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Roboto-Bold';
        letter-spacing: 4.93px;
        line-height: 1.66;
    }
    .list-story{
        position: relative;
        .slick-dots {
            position: absolute;
            left: 0;
            top: -30px;
            text-align: left;
            li {
                padding: 0;
                margin: 0;
                width: 30px;
                button {
                    width: 100%;
                    height: 100%;
                    &::before {
                        width: 100%;
                        height: 1px;
                        content: "";
                        background: black;
                    }
                }
                &.slick-active {
                    button {
                        &:before {
                            height: 4px !important;
                            top: -3px !important;
                        }
                    }
                }
            }
        }
        .slick-slide{
            &:nth-child(1){
                .item-box-item{
                    h2{
                        line-height: 26px;
                    }
                   &:nth-child(1){
                        p{
                            line-height: 52.5px;
                        }
                   }
                   &:nth-child(2), &:nth-child(3){
                        h2{
                            line-height: 52.5px;
                        }
                        p{
                           line-height: 19.5px;
                        }
                   }
                    
                }
            }
            &:nth-child(2){
                .item-box-item{
                    h2{
                        line-height: 26px;
                    }
                    p{
                        line-height: 52.5px;
                    }
                }
            }
            &:nth-child(3), &:nth-child(4){
                .item-box-item{
                    h2{
                        line-height: 26px;
                    }
                    p{
                        line-height: 19.5px;
                    }
                }
            }
        }
        .item-box {
            height: 250px;
            overflow-y: auto;
            color: #8b8b8b;
            padding: 10px 15px;
            
            h2,
            p {
                font-size: 13px;
                letter-spacing: 0.65px;
            }
            h2 {
                font-weight: bold;
                color: black;
                font-family: "Roboto-Medium";
            }
            p{
                font-family: "Roboto-Light";
            }
        }
        .slick-current {
            .title {
                padding-left: 0 !important;
            }
            .item-box{
                padding-left: 0 !important;
            }
        }
        .item-story {
            text-align: left;
            .title {
                font-size: 39.5px;
                font-family: 'Roboto-Bold';
                padding-left: 10px;
                margin-bottom: 0;
                transform: none !important;
                line-height: 2;
            }
            ::-webkit-scrollbar {
                width: 1px;
            }
            ::-webkit-scrollbar-track {
                background: #cdcdcd;
            }
            &:hover {
                ::-webkit-scrollbar-thumb {
                    background: black;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .fourth-container {
        h1 {
            font-size: 30px;
            font-weight: bold;
        }
        .item-story{
            .title{
                font-size: 25px !important;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .fourth-page{
        .logo{
            left: 5% !important;
        }
    }
    .fourth-container{
        top: 60% !important;
    }
}
@media screen and (max-width: 1500px) {
    .fourth-container{
        .list-story{
            .slick-slide{
                &:nth-child(1){
                    .item-box-item{
                        h2{
                            line-height: 26px;
                        }
                       &:nth-child(1){
                            p{
                                line-height: 19.5px;
                            }
                       }
                        
                    }
                }
            }
        }
    }
}