.fourth-page {
    width: 100%;
    height: 100vh;
    background-color: #99dd6e;
    position: relative;
    overflow-y: hidden;
    .logo{
        position: absolute;
        top: 50px;
        left: 100px;
        h3{
            color: #222222;
            text-transform: uppercase;
            font-size: 21px;
            font-family: 'Roboto-Bold';
        }
    }
}
.fourth-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    h1 {
        font-size: 80px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.51;
        letter-spacing: normal;
        text-align: center;
        font-family: 'Montserrat-ExtraBold';
        color: #1b0080;
        margin-bottom: 110px;
    }
    .list-history{
        position: relative;
        .slick-dots {
            position: absolute;
            left: 0;
            top: -30px;
            text-align: left;
            li {
                padding: 0;
                margin: 0;
                width: 30px;
                button {
                    width: 100%;
                    height: 100%;
                    &::before {
                        width: 100%;
                        height: 1px;
                        content: "";
                        background: black;
                    }
                }
                &.slick-active {
                    button {
                        &:before {
                            height: 4px !important;
                            top: -3px !important;
                        }
                    }
                }
            }
        }
        .item-box {
            height: 250px;
            overflow-y: auto;
            color: #8b8b8b;
            padding: 10px 15px;
            
            .item-box-item{
                margin-top: 30px;
            }
            h2,
            p {
                font-size: 12px;
                letter-spacing: 0.65px;
            }
            h2 {
                font-weight: bold;
                color: black;
                font-family: 'Montserrat-Medium','Noto-Sans-KR-Thin';
            }
            p{
                font-family: 'Montserrat-Regular','Noto-Sans-KR-Thin';
            }
        }
        .slick-current {
            .title {
                padding-left: 0 !important;
            }
            .item-box{
                padding-left: 0 !important;
            }
        }
        .item-history {
            text-align: left;
            .title-year {
                font-size: 40.5px;
                padding-left: 10px;
                margin-bottom: 0;
                transform: none !important;
                line-height: 1;
                font-weight: 800;
                font-stretch: normal;
                font-style: normal;
                color: #1b0080;
                font-family: 'Montserrat-ExtraBold';
                margin-bottom: 21px;
            }
            ::-webkit-scrollbar {
                width: 2px;
            }
            ::-webkit-scrollbar-track {
                background: #6daa8a;
            }
            &:hover {
                ::-webkit-scrollbar-thumb {
                    background: #132070;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .fourth-container {
        h1 {
            font-size: 60px;
            font-weight: bold;
        }
        .item-history{
            .title{
                font-size: 25px !important;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .fourth-page{
        .logo{
            left: 5% !important;
        }
    }
}