@import '../../Assets/Style/Varialble.scss';
.side-menu-container {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;
    display: flex;
    align-items: center;
    font-family: $primary-font;
    font-weight: 100;
    z-index: 1000;

    &-change-lang-wrapper {
        display: flex;
        position: absolute;
        top: 22px;
        right: 0px;
        left: -22px;
    }

    &-change-lang-menu {
        display: flex;
        position: fixed;
        top: 62px;
        right: 50px;
    }

    &-change-lang-menu-item {
        color: #ffffff;
        height: 30px;
        border: none;
        cursor: pointer;
        background-color: Transparent;
        background-repeat: no-repeat;
        font-size: 21px;
        font-weight: 300;
        text-align: center;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;

        &.en {
            margin-right: 70px;
        }

        &.ko {
            padding-right: 10px;
        }

        &.select {
            color: #99dd6e;
        }
    }

    .change-lang {
        color: #222;
        width: 35px;
        height: 30px;
        border: none;
        cursor: pointer;
        background-color: Transparent;
        background-repeat: no-repeat;
        font-size: 21px !important;
        font-weight: 300;
        margin-top: 20px;
        text-align: center;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        &.en {
            margin-right: 10px;
        }

        &.select {
            color: #ccee5d !important;
            font-size: larger;
            &.color-four{
                color: #663cc5 !important;
            }
        }
    }
    a {
        text-decoration: none;
        color: #4d4d4d;
        font-weight: 300;

        transition: color 0.3s ease;
    }
    a:hover {
        color: #ffffff;
    }
    #side-menu-toggle {
        display: block;
        position: fixed;
        top: 30px;
        right: 60px;
        z-index: 1;
        overflow: unset;
        user-select: none;
    }

    #side-menu-toggle input {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
        * Just a quick hamburger
        */
    #side-menu-toggle span {
        display: block;
        width: 41px;
        height: 3px;
        margin-bottom: 7px;
        position: relative;

        z-index: 1;

        transform-origin: 7px -2px;

        transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    #side-menu-toggle span:first-child {
        transform-origin: 0% 0%;
    }

    #side-menu-toggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #side-menu-toggle input:checked ~ span {
        opacity: 1;

        transform: rotate(45deg) translate(-2px, -1px);
        background: #fff !important;
    }

    #side-menu-toggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;

        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #side-menu-toggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
        * Make this absolute positioned
        * at the top left of the screen
        */
    #menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        right: 0;
        height: 100%;
        &::-webkit-scrollbar {
            display: none;
        }

        margin-left: -475px;
        box-sizing: border-box;
        top: 0;
        transition: all 0.2s !important;

        > * {
            transition: all 0.2s;
        }

        background-image: url('../../Assets/Images/side-menu.jpg');
        list-style-type: none;

        transform-origin: 0% 0%;

        transform: translate(100%, 0);
        transition: transform 1s cubic-bezier(0.77, 0.2, 0.05, 1);

        transition: transform 0.6s cubic-bezier(0.77, 0.05, 0.05, 1);

        .list {
            transition: all 0.2s;
            max-height: 60px;
            color: white;
            font-size: 20px;
            font-weight: 300;
            display: inline-block;
            cursor: pointer;
            &:hover {
                color: #99dd6e;
            }
        }
    }

    #menu li {
        padding: 8px 0;
        transition: all 0.2s;
    }

    /*
        * And let's slide it in from the left
        */
    #side-menu-toggle input:checked ~ ul {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .info-wrapper {
        font-weight: 300;
        font-size: 12px;
        color: #ffffff;
        font-family: $primary-font;
        margin-top: auto;
        &::before {
            content: '';
            display: block;
            width: 394px;
            height: 2px;
            background-color: #ffffff;
            margin-top: 10px;
        }

        #address {
            padding-top: 47px;
            padding-bottom: 23px;
        }
        p {
            font-size: 13px;
            line-height: 1.5;
        }

        .link {
            color: #ffffff;
            text-decoration: none;
            padding-bottom: 5px;
            &:last-child {
                padding-bottom: 4px;
            }
            a {
                color: #ffffff;
                font-weight: 300;
                font-size: 13px;
                line-height: 1;
            }
        }
    }

    .choose {
        color: #ff9933 !important;
    }
    .brochure-list,
    .proposal-list {
        transition: 0.5s;
        margin-left: 10px;
    }
    .brochure-item,
    .proposal-item {
        font-family: Roboto;
        list-style-type: none;
        font-weight: 300;
        font-stretch: normal;
        align-items: center;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;


        display: flex;
        opacity: 0;

        a {
            color: #fff;
            font-size: 19.5px;
            margin-right: 15px;
            display: inline;
        }
        img {
            width: 12px;
            height: 16px;
        }
    }
    .item-1,
    .item-2,
    .item-3,
    .item-4,
    .item-5 {
        opacity: 1;
        &:hover {
            opacity: 0.6!important;
        }
    }
    .disable {
        opacity: 0; 
        visibility: hidden;
        transition: 1s!important;
        display: none;
    
    }
    .ko-font {
        font-family: $secondary-font;
    }
    .title-list {
        margin-top: 23px;
    }
}

@media screen and (min-width: 1024.1px) and (min-height: 768px) {
    .side-menu-container-change-lang-menu {
        position: fixed;
        right: 100px;
    }
    #menu {
        width: 532px !important;
        .list {
            li {
                font-size: 39.5px !important;
            }
        }
    }
}

@media (max-width: 1023.99px) {
    .side-menu-container {
        left: 0;

        #menu {
            width: 460px;

            li {
                font-size: 36px;
            }
        }
        #side-menu-toggle {
            top: 50px;
            right: 60px;
        }
        .info-wrapper {
            width: 80%;
            &::before {
                width: auto;
            }
            #address {
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 781px) {
    #menu {
        width: 100%;

        li {
            font-size: 35px;
        }
    }

    .info-wrapper {
        bottom: 60px;
    }
}

@media (max-width: 781px) {
    .side-menu-container {
        #menu {
            width: 70%;
            padding-left: 30px;
            li {
                font-size: 25px;
                font-family: Montserrat-regular;
            }
        }
        #side-menu-toggle {
            top: 50px;
            right: 60px;
        }
        .title-list {
            margin-top: 10px;
        }
        .info-wrapper {
            #address {
                font-size: 15px;
            }
            .brochure-item,
            .proposal-item {
                a {
                    font-size: 10px;
                }
            }
        }
    }

    .info-wrapper {
        bottom: 60px;
    }
}
@media (max-width: 500px) {
    .side-menu-container-change-lang-menu {
        right: 50px!important;
    }
    .side-menu-container {
        #menu li {
            padding: 5px 0;
        }
        &-change-lang-menu-item.en {
            margin-right: 55px;
        }
    }
}
@media (max-width: 400px) {
    .side-menu-container-change-lang-menu {
        right: 50px!important;
    }
    .side-menu-container {
        &-change-lang-menu-item.ko {
        }
        &-change-lang-menu-item.en {
            margin-right: 50px;
        }
        #menu {
            width: 75%;
            padding-left: 30px;
            padding-top: 90px;
            li {
                font-size: 20px;
                font-weight: 400;
                font-family: Montserrat-regular;
            }
        }
        #side-menu-toggle {
            top: 40px;
            right: 20px;
        }
        .info-wrapper {
            #address {
                padding-top: 25px;
                font-size: 10px;
            }
        }
    }

    .info-wrapper {
        bottom: 60px;
    }
}

@media (max-width: 780px) {
    #menu {
        width: 75%;

        li {
            font-size: 15px;
        }

        .info-wrapper {
            bottom: 80px;
        }
    }
}

@media (min-width: 781px) {
    #menu {
        width: 460px;
        padding: 50px;
        padding-top: 150px;
        padding-left: 32px;
        li {
            font-size: 36px;
        }
    }

    .info-wrapper {
        bottom: 60px;
    }
}

@media (max-width: 780px) {
    .side-menu-container {
        #side-menu-toggle {
            top: 50px;
            right: 50px;
        }
    }
    #menu {
        padding-bottom: 30px;
        padding-top: 100px;
        width: 75%;

        li {
            font-size: 30px;
        }

        .info-wrapper {
            bottom: 15px;
            #address {
                padding-top: 10px;
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 681px) {
    .side-menu-container {
        #side-menu-toggle {
            top: 50px;
            right: 50px;
        }
    }
}

@media (max-height: 766px) {
     .side-menu-container-change-lang-menu {
        position: fixed;
        right: 100px;
    }
    #menu {
        padding-bottom: 30px;
        padding-top: 60px;

        li {
            font-size: 15px !important;
        }
         li a {
            font-size: 8px;
        }
    }
}

@media (max-height: 550px) {
    #menu {
        padding-top: 60px;

        li {
            font-size: 10px;
            a {
                font-size: 8px;
            }
            img {
                width: 8px;
                height: 10px;
            }
        }
    }
}

@media (max-width: 768px) {
    .side-menu-container {
        &-change-lang-wrapper {
            top: 10px;
        }
    }
}

@media (max-width: 414px) {
    .side-menu-container {
        &-change-lang-wrapper {
            top: 10px;
        }
    }
}
@media (max-width: 411px) {
    .side-menu-container {
        &-change-lang-wrapper {
            top: 10px;
        }
    }
}

@media (max-width: 360px) {
    .side-menu-container {
        &-change-lang-wrapper {
            top: 10px;
        }
        .info-wrapper p {
            font-size: 13px;
             line-height: unset;
        }
        .info-wrapper #address {
            padding-bottom: 10px;
        }
        #menu {
            padding-bottom: 10px;
        }
        .info-wrapper {
            br {
                display: none;
            }
            .link {
                padding-bottom: 10px;
            }
        }
    }
    .side-menu-container .brochure-item a, .side-menu-container .proposal-item a {
        color: #fff;
        font-size: 13px;
        margin-right: 8px;
        display: inline;
    }
}

@media (max-width: 320px) {
    .side-menu-container {
        &-change-lang-wrapper {
            top: 10px;
        }
        #side-menu-toggle {
            right: 20px!important;
        }
    }
    
    .side-menu-container-change-lang-menu {
    right: 20px !important;
}
}

.logo {
    display: block;
    position: fixed;
    top: 81px;
    left: 145px;
    z-index: 1;
    &.d-none{
        display: none;
    }
    @media (max-width: 1024px) {
        left: 60px;
    }
    @media (max-width: 780px) {
        left: 50px;
    }
    a {
        text-decoration: none;
        color: inherit;

        font-family: 'Roboto';

        line-height: 24px;
        font-weight: 600;
        font-size: 21px;

        font-size: 21px;
        text-transform: uppercase;
    }
}