.page-three {
    height: 100vh;
    background: #1b0080;
    user-select: none;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    .logo {
        position: absolute;
        top: 50px;
        left: 100px;
        font-size: 21px;
        font-family: "Roboto-bold";
        font-weight: bold;
        color: #fff;
    }
    .page-three-container {
        text-align: center;
        width: 100%;
        .slick-list{
            overflow: unset;
        }
        .item-service{
            max-width: 365px;
            margin-right: 40px;
            .title-item-service{
                font-family: Montserrat-SemiBold;
                font-size: 40.5px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: normal;
                text-align: left;
                padding-left: 21px;
                padding-top: 59px;
                padding-bottom: 20px;
                min-height: 81px;
            }
            .item-service-img{
                img{
                    width: 100%;
                }
            }
            .item-service-content{
                .title-service{
                    font-family: Montserrat-SemiBold;
                    font-size: 14.5px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.93;
                    letter-spacing: normal;
                    text-align: left;
                    padding-left: 23px;
                    padding-top: 42px;
                }
                .content-service{
                    font-family: NotoSansCJKkr;
                    font-size: 14.5px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.93;
                    letter-spacing: normal;
                    text-align: left;
                    padding: 14px 23px 71px 23px;
                    &.d-none{
                        display: none;
                    }
                    &.content-en{
                        padding: 14px 23px 30px 23px !important;
                        min-height: 230px;
                    }
                }
            }
            
        }
    }
    &-content {
        width: 100%;
        max-width: 1570px;
        margin: 0 auto;
        margin-top: 200px;
    }
}
@media screen and (min-width: 1024px) {
    .page-three{
        .item-service{
            background-color: #19065f;
            .title-item-service{
                color: #604da6;
            }
            .title-service{
                &.d-none{
                    display: none;
                }
            }
            .content-service{
                color: #604da6;
            }
            .item-service-img{
                img{
                    &.img-mobile{
                        display: none;
                    }
                }
            }
            &:hover{
                transform: scale(1.06) !important;
                transition: all ease-in-out 0.5s;
                transition-duration: .5s;
                background-color: #673dc7;
                cursor: pointer;

                .title-item-service{
                    color: #ccee5d;
                    padding-top: 40px;
                }
                .item-service-content{
                    .title-service{
                        color: #ccee5d;
                    }
                    .content-service{
                        color: #ccee5d;
                        padding: 14px 23px 25px 23px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1023px) {
    .page-three{
        .item-service{
            background-color: #673dc7;
            cursor: pointer;

            .title-item-service{
                color: #ccee5d;
                padding-top: 40px;
            }
            .item-service-content{
                .title-service{
                    color: #ccee5d;
                }
                .content-service{
                    color: #ccee5d;
                    padding: 14px 23px 25px 23px;
                }
            }
            .item-service-img{
                img{
                    &.img-desktop{
                        display: none;
                    }
                }
            }
            &:hover{
                transform: unset !important;
            }
        }
    }
}
@media screen and (max-width: 1600px) {
    .page-three{
        .page-three-container{
            .slick-list{
                .slick-slide>div{
                    padding: 0 10px;
                }
            }
            .item-service{
                max-width: unset !important;
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:1025px) {
    .page-three{
        .page-three-container{
            .slick-slider{
                .slick-next {
                    right: 43%;
                    z-index: 9999;
                    top: 104%;
                }
                .slick-prev {
                    left: 43%;
                    z-index: 9999;
                    top: 104%;
                }
                .slick-dots{
                    bottom: -35px;
                    li button:before{
                        color: #bdbaba;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1490px) {
    .page-three{
        .page-three-container{
            .item-service{
                min-height: 630px;
                .content-service{
                    font-size: 13px !important;
                }
            }
        }
    }
}
@media screen and (max-width: 1579px) and (min-width: 1490px) {
    .page-three{
        .content-service{
            font-size: 13px !important;
            padding: 14px 23px 35px 23px !important;
        }
    }
}
@media screen and (max-width: 1420px)  and (min-width:769px){
    .page-three{
        .page-three-container{
            .item-service{
                min-height: 614px !important;
                .content-service{
                    font-size: 11px !important;
                    padding: 14px 16px 40px 15px !important;
                    &.content-en{
                        min-height:175px !important;
                    }
                }
            }
        }
    }
    @media screen and (max-height: 800px) and (min-height: 601px){
        .page-three{
            &-content {
                margin-top: unset !important;
            }
            .page-three-container{
                .item-service{
                    min-height: 524px !important;
                    .title-item-service{
                        padding-top: 20px;
                        padding-bottom: 0;
                    }
                    .content-service{
                        &.content-en{
                            min-height:140px !important;
                        }
                    }
                    .item-service-content{
                        .title-service{
                            padding-top: 15px !important;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-height: 600px) {
        .page-three{
            &-content {
                margin-top: unset !important;
            }
            .page-three-container{
                .item-service{
                    min-height: 440px !important;
                    .title-item-service{
                        padding-top: 20px;
                        padding-bottom: 0;
                    }
                    .content-service{
                        &.content-en{
                            min-height:140px !important;
                        }
                    }
                    .item-service-content{
                        .title-service{
                            padding-top: 15px !important;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1300px)  and (min-width:1200px){
    .page-three{
        .page-three-container{
            .item-service{
                .title-item-service{
                    font-size: 34.5px;
                }
            }
        }
    }
}
@media screen and (max-width: 1199px) {
    .page-three{
        .page-three-container{
            .item-service{
                .title-item-service{
                    font-size: 30px;
                }
                .content-service{
                    font-size: 11px !important;
                }
            }
        }
    }
}
@media screen and (max-width: 1142px) and (min-width: 1070px) {
    .page-three{
        .page-three-container{
            .item-service{
                .content-service{
                    font-size: 10.5px !important;
                }
            }
        }
    }
}
@media screen and (max-width: 1069px) and (min-width: 971px) {
    .page-three{
        .page-three-container{
            .item-service{
                .content-service{
                    font-size: 10px !important;
                }
            }
        }
    }
    @media screen and (max-height: 1079px) {
        .page-three{
            &-content {
                margin-top: unset !important;
            }
            .page-three-container{
                .item-service{
                    .content-service{
                        font-size: 9px !important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 970px) {
    .page-three{
        .page-three-container{
            .item-service{
                .content-service{
                    font-size: 10px !important;
                }
            }
        }
    }
}
@media screen and (max-width: 769px) and (min-width: 577px) {
    .page-three{
        .page-three-container{
            .slick-slider{
                .slick-next {
                    right: 38%;
                    top: 104%;
                }
                .slick-prev {
                    left: 38%;
                    top: 104%;
                }
            }
        }
    }
}
@media screen and (max-width: 769px) and (min-width: 634px){
    .page-three{
        .page-three-container{
            .item-service{
                min-height: 685px;
                .content-service{
                    &.content-en{
                        min-height:135px !important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .page-three{
        .item-service{
            min-height: 560px !important;
            .title-item-service{
                padding-top: 30px !important;
            }
            .content-service{
                padding: 14px 23px 30px 23px !important;
            }
        }
        
    }
}
@media screen and (max-width: 633px) and (min-width: 576px) {
    .page-three{
        .page-three-container{
            .item-service{
                min-height: 500px;
                .content-service{
                    font-size: 10px !important;
                    &.content-en{
                        min-height:135px !important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .page-three{
        .page-three-container{
            .page-three-content{
                max-width: 405px;
            }
            .slick-slider{
                .slick-next {
                    right: 28%;
                    top: 104%;
                }
                .slick-prev {
                    left: 28%;
                    top: 104%;
                }
            }
        }
    }
}
@media screen and (max-height: 1000px) {
    .page-three{
        &-content {
            margin-top: unset !important;
        }
    }
}